extends ../layout

block body
  .container(style='margin-top: 20px')
    .row
      .col-md-8.col-md-offset-2
        h2 Link It!

        if oauth2 && oauth2.client
          p #{oauth2.client.name} is requesting access to your account.
          p Do you approve?

          form(action='/auth/decision' method='post')
            //- .form-group
              label Email
              input.form-control(type='email', placeholder='Email')
            //- .form-group
              label Password
              input.form-control(type='password', placeholder='Password')

            input(name='transaction_id' type='hidden' value=oauth2.transactionID)

            .form-group
              input.btn.btn-success(type="submit" value="Allow" id="allow")
              input.btn.btn-default(type="submit" value="Deny" name="cancel" id="deny" style='margin-left: 10px')
        else
          p No client to link