extends ../layout

block content
  .container
    .col-sm-4.col-sm-offset-2
      h3.form-signin-heading Sign In
      form(action='/users/authenticate' method='post')
        .form-group
          input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required='', autofocus='')

        .form-group
          input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='')

        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

    .col-sm-4
      h3.form-signin-heading Don't have an account?
      a.btn.btn-default(href='/users/new') Register
